<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="workstation id=QLBH03787.mssql.somee.com;packet size=4096;user id=longtnps03787_SQLLogin_1;pwd=e23fpoxa9f;data source=QLBH03787.mssql.somee.com;persist security info=False;initial catalog=QLBH03787"/>
  </appSettings>
</configuration>